<html>

<head>

</head>

<body>
    <form action="" method="post">
        &#123; &#123; form.csrf &#125;&#125;
            <div class="input text">
                {{ form.day.label }} {{ form.day }}</div>
                <div class="input text">
                    {{ form.month.label }} {{ form.month }}</div>
                    <div class="input text">
                        {{ form.year.label }} {{ form.year }}</div>
                        <div class="input text">
                            {{ form.gender.label }} {{ form.gender }}</div>
                            <div class="input text">
                                {{ form.height.label }} {{ form.height }}</div>
                                <div class="input text">
                                    {{ form.weight.label }} {{ form.weight }}</div>
                                    <div class="input text">
                                        {{ form.systolicbloodpressure.label }} {{ form.systolicbloodpressure }}</div>
                                        <div class="input text">
                                            {{ form.diastolicbloodpressure.label }} {{ form.diastolicbloodpressure }}</div> 
                                            <div class="input text">
                                                {{ form.cholesterol.label }} {{ form.cholesterol }}</div> 
                                                <div class="input text">
                                                    {{ form.gluc.label }} {{ form.gluc }}</div>
                                                    <div class="input text">
                                                        {{ form.smoke.label }} {{ form.smoke }}</div>   
                                                        <div class="input text">
                                                            {{ form.alco.label }} {{ form.alco }}</div>   
                                                                                                        
                                                            <div class="input text">
                                                                {{ form.active.label }} {{ form.active }}</div>   
                                                                                                                
                                                                                                                                
<div class="input submit">
            <input type="submit" value="Submit"></div>
</form>
    
</body>

</html>